sm_definition/example_2.json
{
  "StartAt": "ApiCalls",
  "States": {
    "ApiCalls": {
      "Type": "Parallel",
      "Next": "DbtRun",
      "Branches": [
        {
          "StartAt": "IngestDataFromApi1",
          "States": {
            "IngestDataFromApi1": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:api_ingest_1",
              "End": true
            }
          }
        },
        {
          "StartAt": "IngestDataFromApi2",
          "States": {
            "IngestDataFromApi2": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:api_ingest_2",
              "End": true
            }
          }
        }
      ]
    },
    "DbtRun": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "Cluster": "ecs_cluster_name",
        "TaskDefinition": "ecs_task_name",
        "LaunchType": "FARGATE",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet_1",
              "subnet_2",
              "subnet_3"
            ],
            "AssignPublicIp": "ENABLED",
            "SecurityGroups": [
              "security_group_1"
            ]
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "dbt",
              "Command.$": "$.command_run"
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 5,
          "BackoffRate": 1.5,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureNotifier",
          "ResultPath": null
        }
      ],
      "Next": "DbtTest",
      "ResultPath": "$.dbt_run"
    },
    "DbtTest": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "Cluster": "ecs_cluster_name",
        "TaskDefinition": "ecs_task_name",
        "LaunchType": "FARGATE",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet_1",
              "subnet_2",
              "subnet_3"
            ],
            "AssignPublicIp": "ENABLED",
            "SecurityGroups": [
              "security_group_1"
            ]
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "dbt",
              "Command.$": "$.command_test"
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 5,
          "BackoffRate": 1.5,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailureNotifier",
          "ResultPath": null
        }
      ],
      "End": true,
      "ResultPath": "$.dbt_test"
    },
    "FailureNotifier": {
      "Type": "Pass",
      "Next": "Failure",
      "ResultPath": "$.notifier"
    },
    "Failure": {
      "Type": "Fail"
    }
  }
}
